/* this is the css for the landing page
 * (index.html)
 * this css is slightly different to site.css
 * as the flex is vertically orientated */
#banner_text {
  /* this styles and positions the banner_text (main_heading) */
	color: blue;  /* initial check value. */
  text-align: center;
}
/* flexbox anchor(s) content */
.flex-content {
  display: flex;
  justify-content: space-between;
  background-color: pink;
  margin: 5%;
}
/* flexbox page link(s) vertical content */
.flex-links-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  /* background-color: magenta; */
}
.in_a_box {
  background-color: ghostwhite;
  font-size: 20px;
  padding: 10px;
  border: 4px solid blue;
  margin: 5px;

